:root {
  --primary-bg-color: #ddc3d3;
  --primary-text-color: #201E43;
  --secondary-text-color: #dd1b1b;
  --background-color: #f30606;
}

  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .center-container {
    display: flex;
    flex: 1;
  }
   .api-calls {
    display: flex;
    flex-direction: column; /* Arranges buttons vertically */
    gap: 10px; /* Space between buttons */
    width:20%;
    padding: 20px;
    background-color:  #fdfdff;
  }
  .api-button {
    padding: 10px;
    background-color: #a3acef57; /* Match your primary background color */
    color: rgb(16, 16, 16); /* Match your primary text color */
    border: 2px solid ; /* Border to make buttons stand out */
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 2rex;
    font-weight: bold;
    text-decoration: none; /* Removes underline */
   
  } 
  .api-button:hover {
    background-color: #f4b626; 
  }
  .api-button:focus {
    outline: none;
    border-color: #232123;
  }
  .api-display {
    flex: 1;
    padding: 20px;
    background-color:  #f9f9f8; /* bg*/
  
  }